body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #1f1f1f;
  font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
