.TodoCounter {
  font-size: 25px;
  text-align: center;
  padding: 48px;
  margin: 0;
}

.TodoCounter span {
  font-weight: bold;
  color: red;
}

.TodoCounterCongrats {
  font-weight: bold;
  color: green;
  font-size: 30px;
}